# {{=it.appName}}
{{~it.tags :value:index}}
## Release {{=value.version}}
{{=value.message}}
{{~value.commits.all :commit:idx}}
- {{=commit.dateFormated}} {{=commit.author_name}}: {{=commit.message}} {{? commit.body }}
  ```
  {{=commit.body}}
  ```{{?}}{{~}}
{{~}}